p, ul, li, h1, h2, h3, h4{
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, sans;
  overflow-y: scroll;
}
li{
  list-style: none;
  list-style-position: unset;
  margin: 0 0 3px 0;
}
li span {
  font-weight: bolder;
}
img {
  width: 400px;
  display: block;
  transition: transform .2s ease-in-out;
  transform-origin: center top;
}

img.blowsup:hover {
  transform: scale(2.8);
  box-shadow: -5px 5px 5px #CCC;
  margin: 0 0 10px 0;
}

h1, h2, h3, h4{
  border-radius: 10px;
  padding: 2px 20px;
}
h1{
  background-color: #DDD;
  margin: 10px;
}
h2{
  background-color: #CCC;
  margin: 10px;
}
section {
  width: 25em;
  margin: 5px;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -5px 5px 5px #CCC;
  align-self: start;
}
.areas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}